<!DOCTYPE html>
<html>

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
  <title>Loja de roupas</title>
</head>

<body>
  <app-header valorTotal={{valorCarrinho}} qntItens={{itensSelecionados}}>
  </app-header>

  <div class="card-container">

    <app-card *ngFor="let card of listaDeCards" titulo={{card.titulo}} subtitulo={{card.subtitulo}} preco={{card.preco}}
      imagem={{card.imagem}} (click)="adicionarNoCarrinho(card.preco)">
    </app-card>

  </div>
  <app-footer></app-footer>

</body>

</html>