<!DOCTYPE html>
<html>

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
  <title>Loja de roupas</title>
</head>

<body>
  <img src="../assets/logo-b.png" alt="logo">

  <app-header></app-header>

  <app-card titulo="Camiseta" subtitulo="Camiseta clássica azul e preta" preco="100" imagem="../assets/camiseta-1.jpg">
  </app-card>
</body>

</html>