body {
  background-color: var(--bs-primary-bg-subtle);
  min-height: 100vh;
  color: var(--bs-dark);
}

img {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 5;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 40px 40px 40px;
  justify-content: space-between;
}
